

<div class="container" >
    <img src="../../../assets/exambg.jpg" style="background-size: auto;" class="cov">
     
    <div class="top-left text-center text-white">
        <button mat-raised-button color="primary">Welcome To ExamPortal</button>
    </div>
    <div>
        <button class="login" [routerLink]="'/login'">
            <mat-icon mat-list-icon>login  </mat-icon>  LOG-IN
        </button>
    </div>
    <div>
        <button class="reg" [routerLink]="'/signup'">
            <mat-icon mat-list-icon>create</mat-icon> REGISTER
        </button>
    </div>
  
  </div>