.truncate{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cover {
   
    background-size: 100%;
   
  } 

  .example-header-image{
    background-size: 100%;
    background-image: url("https://cdn.iconscout.com/icon/premium/png-512-thumb/quiz-2288912-1908771.png?f=webp&w=256");
}