<div class="bootstrap-wrapper" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" >
                <usersidebar></usersidebar>
            </div>
            <div class="container" class="col-md-10" >
                <img src="../../../assets/exambg.jpg" class="cov">
                
                <div class="top-left text-center text-white mt20" >
                    <button mat-raised-button color="primary">Welcome To User Panel</button>
                </div>

                <!-- <div>
                    <button class="login" [routerLink]="'/login'">
                        <mat-icon mat-list-icon>login  </mat-icon>  LOG-IN
                    </button>
                </div>
                <div>
                    <button class="reg" [routerLink]="'/signup'">
                        <mat-icon mat-list-icon>create</mat-icon> REGISTER
                    </button>
                </div> -->


            </div>
        </div>
    </div>
</div>